/* sizzling-red: #f05d5eff;
skobeloff: #0f7173ff;
alice-blue: #e7ecefff;
raisin-black: #272932ff;
tumbleweed: #d8a47fff; */

header {
  margin: auto;
  width: 100%;
  height: 75px;
  background-color: #0f7173ff;
  text-align: center;
  line-height: 75px;
  font-size: xx-large;
  color: #d8a47fff;;
  border: #272932ff solid 2px;
}

body {
  background-color: #e7ecefff;
  display: block;
}

main {
  display: block;
  color: black;
}

select {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: large;
  background-color: slategray;
  border: solid 2px #272932ff;
  border-radius: 20px;
  height: 50px;
  width: 150px;
}

img {
  width: 300px;
  height: auto;
}


